//Color
$black: #000000;
$white: #ffffff;

$body-color: #4a4a4a;

$white-turquoise: #cce7ea;
$light-turquoise: #00b4c8;
$turquoise: #038b98;
$dark-turquoise: #007882;

$white-grass: #d8e3b6;
$x-light-grass: #94A80D;
$light-grass: #88A60D;
$grass: #7DA40D;
$dark-grass: #619E0D;

$white-red: #ebb5b5;
$x-light-red: #BE3B0A;
$light-red: #BE220A;
$red: #be0a0a;
$dark-red: #B50921;
$x-dark-red: #AF0B34;

$dark-yellow: #FAC30A;
$yellow: #faca0a;
$light-yellow: #FAD10A;

$orange: #F0730F;
$light-orange: #f08b34;

$dark-blue: #1C89D6;
$blue: #199CD5;
$light-blue: #16AAD4;

$light-beige: #FFF5DD;
$beige: #ffecbf;
$dark-beige: #DAC084;

$dark-grey: #333333;
$light-dark-grey: #555555;
$x-light-dark-grey: #666666;

$light-medium-grey: #cbcbcb;
$medium-grey: #bcbcbc;
$dark-medium-grey: #999999;

$light-light-grey: #f8f8f8;
$light-grey: #f0f0f0; 
$dark-light-grey: #e0e0e0;

$dark-mid-night-blue: #1f2224;
$mid-night-blue: #3b3f45;
$light-mid-night-blue: #393F43;
$x-light-mid-night-blue: #989ea7;

// Fonts

// Responsive
$screen-xxxs-min: 320px;
$screen-xxxs-max: 320px;
$screen-xxs-max: 480px;
$screen-xxs-min: 480px;
$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;