//Color
$black: #000000;
$white: #ffffff;

$body-color: #4a4a4a;

$light-green: #4DC078;
$green: #2fae60;
$dark-green: #109F45;
$x-dark-green: #067B32;

$x-light-red: #D95D50;
$red: #c0392b;
$dark-red: #9B2114;
$x-dark-red: #760B00;

$light-turquoise: #00b4c8;
$turquoise: #038b98;
$dark-turquoise: #007882;

$dark-grey: #333333;
$light-dark-grey: #555555;
$x-light-dark-grey: #666666;

$light-medium-grey: #cbcbcb;
$medium-grey: #bcbcbc;
$dark-medium-grey: #999999;

$light-light-grey: #f8f8f8;
$light-grey: #f0f0f0; 
$dark-light-grey: #e0e0e0;

$yellow: #F0730F;
$light-yellow: #f08b34;

$blue: #007882;

$light-beige: #FFF5DD;
$beige: #ffecbf;
$dark-beige: #DAC084;

$dark-mid-night-blue: #1f2224;
$mid-night-blue: #3b3f45;
$light-mid-night-black: #989Eea7;

// Responsive
$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;