//Color
$black: #000000;
$white: #ffffff;

$body-background-color: #fafafc;
//#ecebe8;
$body-color: #4a4a4a;

$white-turquoise: #cce7ea;
$light-turquoise: #a1d4d6;
$turquoise: #038b98;
$dark-turquoise: #165b61;

$white-grass: #d8e3b6;
$x-light-grass: #94A80D;
$light-grass: #88A60D;
$grass: #7DA40D;
$dark-grass: #619E0D;

$white-red: #ebb5b5;
$x-light-red: #BE3B0A;
$light-red: #BE220A;
$red: #be0a0a;
$dark-red: #B50921;
$x-dark-red: #AF0B34;

$dark-yellow: #FAC30A;
$yellow: #faca0a;
$light-yellow: #FAD10A;

$orange: #F0730F;
$light-orange: #f08b34;

$dark-blue: #1C89D6;
$blue: #199CD5;
$light-blue: #16AAD4;

$light-beige: #FFF5DD;
$beige: #ffecbf;
$dark-beige: #DAC084;

$light-black: #333333;
$x-light-black: #555555;
$xx-light-black: #666666;

$dark-medium-grey: #c3c3c3;
$medium-grey: #cccccc;
$light-medium-grey: #d6d6d6;

$light-grey: #e0e0e0;
$x-light-grey: #ecebe8;
$xx-light-grey: #f0f0f0;

$dark-mid-night-blue: #1f2224;
$mid-night-blue: #3b3f45;
$light-mid-night-blue: #989ea7;

// Fonts

// Responsive
$screen-xxxs-max: 320px;
$screen-xxs-min: 320px;
$screen-xxs-max: 480px;
$screen-xs-min: 480px;
$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;