.authentication-panel {
	.glyphicon { top: 0; }
  .panel {
    border: 1px solid #e0e0e0;
    .panel-heading {
      background-color: $x-light-black;
    }
    .panel-title {
      color: $white;
      font-weight: 700;
    }  
    .panel-heading, .panel-body, .panel-footer {
      padding: 20px 25px 20px 25px;
    }
  }  
  h4 {
    margin-bottom: 20px;
  }
}