// Input fields
.form-inline {
  margin-bottom: 15px;
}

// Buttons

.btn-primary {
  background-color: #3b83a9;
  border-color: #2e6683;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  border-top: 1px solid #549dc3;
  &:hover, &:focus {
    background-color: #2e6683;
  }
}

.btn-danger {
  background-color: #c0392b;
  border-color: #9B2114;
  &:hover {
    background-color: #9B2114;
    border-color: #760B00;
  }  
}