// Input fields
.form-inline {
  margin-bottom: 15px;
}

.form-control {
  border: 1px solid $dark-grey;  
  background-color: $main-grey;
  border-radius: 2px;
  box-shadow: none;
  &:focus {
    border-color: $turquoise;
    box-shadow: none;
  }
}

// Buttons
.btn-primary {
  background-color: $turquoise;
  border-color: $dark-turquoise;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  &:hover, &:focus {
    background-color: $dark-turquoise;
    border: $x-dark-darker-mint;
  }
}

.btn-danger {
  background-color: $red;
  border-color: $dark-red;
  &:hover, &.focus {
    background-color: $dark-red;
    border-color: $x-dark-red;
  }  
}

.btn-success {
  background: $green;
  border-color: $dark-green;
  &:hover, &.focus {
    background-color: $dark-green;
    border-color: $x-dark-green;
  }  
}