abbr, accronym {
  border-bottom: 0px !important;
}

// Input fields
.form-control {
  border: 1px solid $light-grey;
  background-color: $xx-light-grey;
  box-shadow: none;
  font-size: 15px;
  height: 40px;
  &:focus {
    border-color: $turquoise;
    box-shadow: none;
  }
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

// Customize date dropdowns take auto width 
.date > .col-sm-9 .form-control {
  display: inline-block;
  width: auto;
}

// Buttons
.btn {
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 5px 10px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  @include border-radius(3px);
}

.btn-primary {
  background-color: $turquoise !important;
  border-color: $turquoise !important;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  &:hover, &:focus {
    background-color: $dark-turquoise !important;
    border-color: $dark-turquoise !important;
  }
}

.btn-danger {
  background-color: $red;
  border-color: $red;
  &:hover, &.focus {
    background-color: $dark-red;
    border-color: $dark-red;
  }
}

.btn-success {
  background: $grass;
  border-color: $grass;
  &:hover, &.focus {
    background-color: $dark-grass;
    border-color: $dark-grass;
  }
}

.btn-info {
  background: $light-blue;
  border-color: $light-blue;
  &:hover, &.focus {
    background-color: $blue;
    border-color: $blue;
  }
}

.btn-white {
  @extend .btn-default;
  background: $white;
  border-color: $white;
  &:hover, &.focus {
    background-color: $xx-light-grey;
    border-color: $xx-light-grey;
  }
}

.btn-black {
  @extend .btn-default;
  color: $white;
  background: $mid-night-blue;
  border-color: $mid-night-blue;
  &:hover, &.focus {
    color: $white;
    background-color: $dark-mid-night-blue;
    border-color: $dark-mid-night-blue;
  }
}

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: $screen-xs-max) {
  .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Small devices (tablets, 768px and upto large desktops, 1200px and up) */
@media (min-width: $screen-sm-min) {
  .form-inline label.datetime {
    display: block;
    margin-bottom: 0;
  }
}